<h1>C'est ton anniversaire!!!!!</h1><br>

<h2 font>HAPPY BIRTHDAY</h2><br>

<div>
<h1>
<%= @bday.name %>!!!!!
</h1>
</div>


<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRoO7IUhOcA6X1dVXAa5a-hFrDw-h_gjvnNNPwjml5lYd2ef7gc" alt="OuiOui!">

<h2>Seuls les meilleurs gâteaux français pour vous! Bisou Bisou! Je t'aime , B</h2>


<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTUutVzBLZzuwFnMDNHIdWA5WKRVFjphEzoS0P4lnpC_CsEpxh0Sw" alt="Hehehe!">