<div>
<h1>Bonjour! Je accuse!</h1><br>
<a href="bdays/new" class="btn btn-info" role="button">Suivez-Moi</a>
<h3>S'il vous plaît</h3>

<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSDIE_ZsI9ClKrO-GGJ0EO4BzMRslL43y9y1MiSuae5nE-U8K6XyA" alt="oui oui">

<div>
